<header class="header">
  <div class="container">
    <div class="mana">
      <i class="mana__symbol white fad fa-sun"></i>
      <i class="mana__symbol blue fad fa-tint"></i>
      <i class="mana__symbol black fad fa-skull"></i>
      <i class="mana__symbol red fad fa-fire"></i>
      <i class="mana__symbol green fad fa-tree-alt fa-swap-opacity"></i>
    </div>

    <h1>Welcome to Decked Out</h1>
  </div>
  {{> nav}}
</header>