<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="/" class="nav__link">New Game</a>
        </li>
        <li class="nav__item">
            <a href="/collection" class="nav__link">View Collection</a>
        </li>
        <li class="nav__item">
            <a href="/decks" class="nav__link">View Decks</a>
        </li>
    </ul>
</nav>