@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background: rgb(69, 53, 25);
}

a {
    color: inherit;
    text-decoration: none;
}
