<div>
    <form id="signin" name="signin">
        <label for="username">Username: </label>
        <input id="username" class="text" name="username" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <label for="secretQuestion">What's your favorite Magic Card</label>
        <input id="secretQuestion" type="text" />
        <input id="signinBtn" class="btn" type="submit" value="Sign In" />
    </form>

</div>

<script src="../assets/js/CreateUser.js"></script>