<div class="container">
  <div class="card">
    <h3 class="card__title">Example</h3>

    <div class="card__body">
      <p>
        <strong>ID</strong>: {{example.id}}</p>
      <p>
        <p>
          <strong>Text</strong>: {{example.text}}</p>
        <p>
          <strong>Description:</strong> {{example.description}}</p>
        <a href="/">← Back To Home</a>
    </div>
  </div>
</div>