<div class="container">
  <div>
    <div>
      <div>
        <div>
          <h5>Example</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
            <p>
              <strong>Text</strong>: {{example.text}}</p>
            <p>
              <strong>Description:</strong> {{example.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>