.card {
    --bg: var(--clr-theme-primary);
    --accent: var(--clr-theme-secondary);
    --text: var(--clr-theme-text);

    border-radius: $rounded;
    overflow: hidden;
    background: var(--bg);
    color: var(--text);
    box-shadow: shadow(3);
    transition: all ease-in-out 250ms;
    margin: $spacing-lg 0;

    &:hover {
        box-shadow: shadow(4);
    }

    &__title,
    &__body {
        padding: $spacing-sm;
    }

    &__title {
        background: var(--accent);
        border-radius: $rounded;
    }
}
