.mana {
    display: flex;
    justify-content: space-evenly;
    padding: $spacing-sm;

    &__symbol {
        font-size: $fs-icon;
        --fa-primary-opacity: 1;
        --fa-secondary-opacity: 0.7;

        &.white {
            --fa-primary-color: var(--clr-white);
            --fa-secondary-color: var(--clr-white-2);
        }

        &.blue {
            --fa-primary-color: var(--clr-blue);
            --fa-secondary-color: var(--clr-blue-2);
        }

        &.black {
            --fa-primary-color: var(--clr-black);
            --fa-secondary-color: var(--clr-black-2);
        }

        &.red {
            --fa-primary-color: var(--clr-red);
            --fa-secondary-color: var(--clr-red-2);
        }

        &.green {
            --fa-primary-color: var(--clr-green);
            --fa-secondary-color: var(--clr-green-2);
        }
    }
}
